@font-face {
    font-family: 'Arial Narrow';
    src: url('../fonts/ArialNarrow.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Arial Narrow';
    src: url('../fonts/ArialNarrow-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
html, body, body div, div, span, h1, h2, h3, h4, h5, h6,
p, a, em, img, s, small, strong, sub, sup, b, u, i, dl, dt, dd, ol, ul, li,
button, form, fieldset, article, aside, legend, label,
footer, header, main, nav, section, input, textarea, select, option {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: none;
}
html {
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    position: relative;
    color: #222;
    background: #f5f5f5;
    font: normal 16px/20px 'Roboto';
}
input {
    padding-left: 8px;
    padding-right: 8px;
    font: normal 16px/20px 'Roboto';
    color: #222;
}
ol, ul, li {
    list-style: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
button {
    cursor: pointer;
}
a {
    cursor: pointer;
    text-decoration: none;
}
.container {
    width: 1140px;
    margin: 0 auto;
}
header {
    color: #f5f5f5;
    background: #222;
    flex: 0 0 auto;
    position: sticky;
    top: 0;
    align-items: center;
    justify-content: center;
    height: 88px;
}
header a {
    color: #f5f5f5;
}
header a:hover {
    color: #c4c4c4;
}
.location-wrapper {
    width: 100%;
    background: #222;
}
.location {
    color: #f5f5f5;
    font: bold 11px/32px 'Roboto';
}
.header {
    height: 64px;
    display: flex;
    align-items: center;
}
.header-item {
    padding-top: 28px;
    text-align: center;
    width: 40px;
    margin: 0 12px;
    font-size: 11px;
    line-height: 11px;
    font-weight: bold;
}
.logo {
    vertical-align: middle;
    margin-right: 24px;
    flex-shrink: 0;
}
.logo h1 {
    font: normal 36px/64px 'Arial Narrow';
    display: inline;
}
.logo img {
    float: left;
    margin-right: 12px;
}
.search {
    border-radius: 8px;
    background: #00a86b;
    height: 40px;
    display: flex;
    margin: 8px;
    flex-grow: 1;
}
.search-form {
    border-radius: 8px;
    display: flex;
    width: 100%;
}
.search-button {
    height: 40px;
    width: 70px;
    background: url(../images/search.svg) no-repeat center center;
}
.query {
    border: 2px solid #00a86b;
    border-radius: 8px;
    height: 40px;
    background: #f5f5f5;
    width: 100%;
}
.cart-empty {
    background: url(../images/cart-empty.svg) no-repeat top center;
}
.cart-fill {
    background: url(../images/cart-fill.svg) no-repeat top center;
}
.login {
    background: url(../images/login.svg) no-repeat top center;
}
.hamburger {
    height: 40px;
    width: 40px;
    display: none;
    flex-shrink: 0;
}
#nav {
    width: 40px;
    height: 40px;
    position: relative;
    margin: 50px auto;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
    user-select: none;
}
#nav span {
    display: block;
    position: absolute;
    height: 8px;
    width: 100%;
    background: #00a86b;
    border-radius: 8px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}
#nav span:nth-child(1) {
    top: 0px;
}
#nav span:nth-child(2), #nav span:nth-child(3) {
    top: 16px;
}
#nav span:nth-child(4) {
    top: 32px;
}
#nav.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}
#nav.open span:nth-child(2) {
    transform: rotate(45deg);
}
#nav.open span:nth-child(3) {
    transform: rotate(-45deg);
}
#nav.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}
nav.header {
    height: auto;
    gap: 24px;
    line-height: 24px;
    font-size: 14px;
    justify-content: center;
    background: inherit;
    position: relative;
    z-index: 10;
}
nav.header a {
    line-height: 24px;
    background: none;
}
nav.header a::before {
    content: '';
    background: url(../images/bobber.svg) no-repeat center left;
    background-size: contain;
    width: 16px;
    height: 16px;
    padding-left: 20px;
}
nav.header .cart-empty, nav.header .cart-fill, nav.header .login {
    display: none;
}
nav.header a.cart-empty::before {
    background: url(../images/cart-empty.svg) no-repeat center left;
    background-size: contain;
}
nav.header a.cart-fill::before {
    background: url(../images/cart-fill.svg) no-repeat center left;
    background-size: contain;
}
nav.header a.login::before {
    background: url(../images/login.svg) no-repeat center left;
    background-size: contain;
}
main {
    flex: 1 0 auto;
    padding: 12px 0;
}
footer {
    height: 225px;
    color: #f5f5f5;
    background: #222;
    flex: 0 0 auto;
    position: relative;
    font: normal 14px/21px 'Roboto';
}
.footer-wrapper {
    width: 100%;
}
footer h4 {
    font: bold 16px/16px 'Roboto';
    padding: 6px 0;
}
.footer h4 span {
    display: none;
    float: right;
}
footer a {
    color: #c4c4c4;
}
footer a:hover {
    color: #f5f5f5;
}
.footer {
    display: flex;
    height: auto;
    justify-content: space-between;
    user-select: none;
}
.footer-item {
    display: flex;
    flex-direction: column;
    flex: auto;
    margin: 16px;
}
.footer-item:last-child {
    flex: none;
}
.copy {
    text-align: center;
    font: normal 11px/22px 'Arial Narrow';
    color: #c4c4c4
}

@media screen and (max-width: 1204px) {
    .container {
        width: auto;
        margin: 0 32px;
    }
}
@media screen and (max-width: 767px) {
    header {
        position: relative;
    }
    .container {
        margin: 0px 16px;
    }
    .logo {
        margin: 0;
    }
    .logo h1 {
        display: none;
    }
    .logo img {
        margin: 0;
    }
    .header-item {
        display: none;
    }
    .hamburger {
        display: block;
    }
    nav.header {
        flex-direction: column;
        align-items: flex-start;
        gap: 6px;
        width: fit-content;
        padding: 16px;
        float: right;
        display: none;
    }
    nav.header .cart-empty, nav.header .cart-fill, nav.header .login {
       display: block;
    }
    footer {
        height: auto;
    }
    .footer {
        flex-direction: column;
        margin: 16px 0;
    }
    .footer-item {
        margin: 0;
    }
    .footer h4 {
        padding: 6px 16px;
        border-top: 1px solid #c4c4c4;
        cursor: pointer;
    }
    .footer h4 span {
        display: block;
        transform: rotate(-90deg);
    }
    .border-bottom {
        border-bottom: 1px solid #c4c4c4;
    }
    h4.border-bottom > span {
        transform: rotate(90deg);
    }
    .footer-item > ul {
        display: none;
        margin: 16px;
    }
    .footer-item div {
        margin: 0 16px;
    }
}
